@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

/* BASE STYLES*/
* {
  box-sizing: border-box;
  margin: 0px;
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(242, 246, 250);
  font-family: 'Libre Caslon Text', arial, sans-serif;
  line-height: 1.6;
}

button,
a {
  cursor: pointer;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

/* HEADER */
.header__nav-bar {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.678);
  display: flex;
  height: 4.5rem;
  justify-content: end;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__links {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  margin-right: 8%;
  width: 25rem;
}

.header__link {
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  padding-top: .5rem;
  text-decoration: none;
}

.header__menu-button {
  display: none;
}

/* HERO SECTION */
.hero__image-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hero__image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.hero__welcome {
  color: white;
  font-size: 7rem;
  padding-bottom: 2rem;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 42rem;
}

.hero__divider {
  border: 1px solid white;
  display: block;
  margin: 0 auto;
  width: 60%;
}

/* MAIN SECTION */
/* MAIN SECTION HEADER */
.main-section__header-container {
  margin: 12rem auto 14rem;
  text-align: center;
  width: 50vw;
}

.main-section__heading {
  display: block;
  font-size: 4rem;
}

.main-section__divider {
  border-top: 1px solid black;
  margin: 2rem 0;
}

.main-section__sub-heading {
  font-size: 2rem;
}

/* MAIN SECTION CONTENT */
.main-section {
  display: flex;
  flex-direction: column;
  margin: 0 6rem 5rem;
  max-width: 100vw;
}

.main-section__content-container {
  display: flex;
  max-width: 100%;
}

.flex-item {
  min-height: 80vh;
  text-align: center;
  width: 50%;
}

.main-section__img-container {
  display: flex;
  overflow: hidden;
}

.main-section__img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.main-section__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
}

.main-section__divider--small-black {
  border-top: 1px solid black;
  margin: 1.5rem 14rem;
}

.main-section__divider--small-white {
  border-top: 1px solid white;
  margin: 1.5rem 14rem;
}

.main-section__text {
  font-size: 1.7rem;
  line-height: 2.8rem;
  margin: 0 auto;
  max-width: 70%;
  padding: 1rem 0;
}

.grey {
  background-color: rgb(147, 168, 172);
  color: #252525;
}

.red {
  background-color: rgb(157, 34, 53);
  color: white;
}

/*  FOOTER SECTION */
.footer__container {
  background-color: rgb(42, 46, 69);
  display: flex;
  gap: 25%;
  justify-content: center;
  margin: 0 2rem 2rem;
  padding-bottom: 5rem;
  padding-top: 3rem;
  padding: 3rem 10rem 5rem;
}

.footer__text-container {
  color: white;
  width: 30rem;
}

.footer__arrow-button {
  display: none;
}

.footer__heading {
  font-size: 3rem;
}

.footer__divider {
  border-top: 2px dotted white;
  margin: 1.1rem 0 1.6rem;
}

.footer__text {
  font-size: 1.5rem;
}

.footer__day {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.6rem;
}

/* SMALLER SCREENS */
@media (max-width: 1000px) {

  .hero__welcome {
    font-size: 5rem;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 32rem;
  }

  .hero__divider {
    border: 1px solid white;
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  /* MAIN SECTION CONTENT */
  .main-section__header-container {
    margin: 8rem auto 10rem;
    text-align: center;
    width: 80vw;
  }

  .main-section {
    margin: 0 2rem 5rem;
  }

  .main-section__content-container {
    display: flex;
    flex-direction: column;
  }

  .flex-item {
    width: 100%
  }

  .flex-reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 810px) {

  /* NAV BAR */
  .header--cover {
    background-color: rgba(0, 0, 0, 0.421);
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: 99;
  }

  .nav-bar--open {
    background-color: rgb(157, 34, 53);
    height: 100vh;
    right: 0;
    width: 70vw;
  }

  .header__links {
    flex-direction: column;
    height: 25rem;
    justify-content: space-between;
    left: 15%;
    position: absolute;
    z-index: -110;
  }

  .header__link {
    font-size: 3.5rem;
  }

  .header__button {
    font-size: 2.5rem;
    text-align: left;
    width: fit-content;
  }

  .header__menu-button {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2.5rem;
    line-height: 0;
    padding: 0;
    position: fixed;
    right: 1.8rem;
    top: 1rem;
    transform: ease 1s;
    width: 3.4rem;
    z-index: 99;
  }

  .header__menu-button-span {
    display: block;
    background-color: white;
    height: .2rem;
    transition: ease .15s;
    width: 100%;
  }

  .line-1 {
    left: .6rem;
    position: absolute;
    transform: rotate(45deg);
    transition: ease-in-out .15s;
  }

  .line-2 {
    visibility: hidden;
  }

  .line-3 {
    left: .6rem;
    position: absolute;
    transform: rotate(-45deg);
    transition: ease-in-out .15s;
  }

  /* MAIN SECTION */
  .main-section {
    margin: 0;
  }

  .main-section__text {
    max-width: 80%;
  }

  /* FOOTER */
  .footer__container {
    flex-direction: column;
    margin: 0;
    padding: 3rem 2rem 1rem;
  }

  .footer__text-container {
    margin-bottom: 2rem;
    width: 100%;
  }

  .footer__heading-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer__heading {
    font-size: 2.3rem;
  }

  .footer__text {
    font-size: 1.3rem;
  }

  .footer__arrow-button {
    background: none;
    border: none;
    display: block;
  }

  .footer__arrow {
    height: 3.68rem;
    width: 3.2rem;
  }

  .arrow-inverted {
    transform: rotate(180deg);
  }

  .hidden {
    display: none;
  }
}


/* STYLES FOR MENUS PAGE */
/* ------------------- */
/* ------------------ */

/* MAIN SECTION */
.main-section__menu {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto 5rem;
  max-width: 90vw;
}

.main-section__menu-img-container {
  display: flex;
  height: 50vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.main-section__menu-link {
  width: 100%;
}

.main-section__menu-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.menu-text {
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 1rem;
  color: white;
  font-size: 3rem;
  margin: 0 0 .1rem .9rem;
  max-width: 75%;
  padding: 1rem 2rem;
  position: absolute;
}

/* SMALLER SCREENS */
@media (max-width:1000px) {
  .main-section__menu {
    display: flex;
    flex-direction: column;
  }

  .main-section__menu-img-container {
    height: 30vh;
  }

  .menu-text {
    font-size: 2.5rem;
  }
}

@media (max-width: 810px) {
  .main-section__menu {
    margin: 0 0 1rem;
    max-width: 100vw;
  }
}

/* STYLES FOR INNER MENU */
/*------------------ */
/*----------------- */

.main-section__header-container--menu {
  margin: 8rem auto 9rem;
}

.menu__content-container {
  margin: -2rem auto 0;
  max-width: 70vw;
}

.main-section__sub-heading {
  font-size: 3rem;
  margin-top: 2rem;
}

.menu__divider {
  border: 1px solid black;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  width: 100%
}

.menu__divider--dotted {
  border: none;
  border-bottom: 1px dashed #949798;
}

.menu__content__text-container--style-1 {
  margin-bottom: 1rem;
  margin-top: 0;
}

.menu__content__text-container--style-2 {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 5rem 5rem 5rem;
  margin-bottom: 1rem;
}

.menu__flex-container {
  display: flex;
  justify-content: space-between;
  min-height: 5rem;
  width: 100%;
}

.menu__items {
  font-size: 1.7rem;
  margin: 1rem;
}

.menu__items--name {
  font-weight: 900;
}

.menu__items--dessert {
  margin-top: 3rem;
}

.menu__items--options {
  font-size: 1.5rem;
  margin-right: 5rem;
  margin-top: -1rem;
}

.menu__items--info {
  font-size: 1.8rem;
  font-style: italic;
}

.menu__flags {
  line-height: 3rem;
  margin: 3rem auto 4rem;
  width: 35rem;
}

.menu__flags-text {
  font-size: 1.5rem;
  font-style: italic;
}

.gf-span {
  color: #8628D6;
  font-weight: 900;
}

.v-span {
  color: #62a541;
  font-weight: 900;
}

.vg-span {
  color: #ffc000;
  font-weight: 900;
}

/* SMALLER SCREENS */
@media (max-width: 810px) {
  .menu__content__text-container--style-2 {
    display: block;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }

  .menu__content-container {
    max-width: 90vw;
  }

  .main-section__heading--small {
    font-size: 2.5rem;
  }
}

/* STYLES FOR CONTACT US PAGE */
/* ------------------------- */
/* ------------------------ */

.contact-us__outer-content-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 2rem;
  width: 50%;
  #
}

.contact-us__content-container {
  height: 50%;
}

.contact-us__text-heading {
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}

.contact-us__day {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 2.6rem;
}

.contact-us__map {
  height: 100%;
  width: 100%;
}

.contact-us__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 0;
  text-align: center;
}

.contact-us__map-heading {
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 8px;
}

.contact-us__text {
  font-size: 1.5rem;
}

/* SMALLER SCREENS */
@media (max-width: 1000px) {
  .contact-us__header-container {
    margin-bottom: 3rem;
  }

  .contact-us__outer-content-container {
    width: 100%;
  }

  .contact-us__sub-heading {
    font-size: 2rem;
  }
}